
Thumbs.db
#Ignore files build by Visual Studio
*.nupkg
*.dbmdl
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/ 
[Bb]in
[Dd]ebug*/
[Rr]elease*/

x64/
x86/
build/
bld/

Ankh.NoLoad
obj/

_ReSharper*/
[Tt]est[Rr]esult*


#Tooling
*.resharper
*.sass-cache


#Project files
[Bb]uild/ 

#Test files
*.testsettings


# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.bak


